html,
body {
    padding: 0;
    margin: 0;
    background: #000;
    font-size: 16px;
    line-height: 20px;
}

.form-holder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: #ffffff;
}

.row:after {
    content: '';
    clear: both;
    display: block;
}

.row + .row {
    margin-top: 15px;
}

.txt {
    display: block;
    margin: 0;
    padding: 5px 8px;
    border: 1px solid #999;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    width: 230px;
    background: #fdfdfd;
    color: #000;
}

.btn {
    display: inline-block;
    padding: .4em 1.1em;
    font-size: 1em;
    cursor: pointer;
    line-height: 1.618em;
    background: #364245;
    color: #f8f8f8;
    border: 0;
    border-radius: .4em;
}

.result-btn {
    float: right;
}

.reset-btn {
    background: #622823;
}

.results-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid black;
    height: 92px;
    overflow-y: auto;
}

.results-list li {
    padding: 5px;
}

.results-list li:first-child {
    font-weight: 600;
}

.results-list li + li {
    border-top: 1px solid black;
}